html {
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(49, 41, 151);
  text-align: center;
}

h4 {
  margin: 3px;
}

body {
  background-image: url("image1.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1rem 1rem 2rem #082424;
  font-size: 15px;
  border-radius: 0.5rem;
}

#title {
  width: 400px;
  height: 2em;
}

#taskForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
  margin: 1rem;
  height: 40px;
}

#status {
  display: inline-flex;
  position: relative;
  font-size: 13px;
  color: #1d1c1c;
  line-height: 1;
  width: 9.0em;
  height: 2.5em;
}

#button_save {
  background-color: #3634a4;
  border-radius: 1em;
  font-size: 1em;
  box-shadow: 1rem 1rem 2rem #050808;
  color: aliceblue;
  height: 2em;
}

#button_change {
  background-color: #eedf58;
  border-radius: 1em;
  font-size: 1em;
  box-shadow: 1rem 1rem 2rem #050808;
}

#button_delete {
  background-color: #f06d63;
  border-radius: 1em;
  font-size: 1em;
  box-shadow: 1rem 1rem 2rem #050808;
}

#taskStats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(96, 203, 194);
  color: rgb(15, 15, 15);
  padding: 0.1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
}

#stats,
#list {
  display: flex;
  flex-direction: column;
}

#button_deleteArray {
  background-color: #f704c3;
  border-radius: 1em;
  font-size: 1em;
  box-shadow: 1rem 1rem 2rem #050808;
  color: rgb(178, 213, 243);
  height: 2em;
}

#button_filter {
  background-color: #5feb30;
  border-radius: 1em;
  font-size: 1em;
  box-shadow: 1rem 1rem 2rem #050808;
  color: rgb(27, 29, 31);
}

#taskList {
  margin: 1rem;
  background-color: rgb(85, 214, 214);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
}

#task {
  background-color: rgb(251, 251, 235);
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem #808080a9;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(65, 59, 152);
  text-align: right;
  color: rgb(192, 195, 197);
  padding: 0.1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
  height: 35px;
}

#filterTasks {
  width: 400px;
  height: 2em;
}

#newTask {
  width: 400px;
  height: 2em;
}

#newStatus {
  width: 130px;
  height: 2.5em;
}

/* Стили для модального окна */
#editModal {
  display: none;
  /* По умолчанию скрыто */
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* Ширина модального окна */
  max-width: 600px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 10px;
}

/* Фон за модальным окном */
.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Полупрозрачный черный фон */
  z-index: 999;
}

/* Кнопки закрытия и отправки */

#save-button {
  cursor: pointer;
  padding: 6px 12px;
  font-size: 16px;
  color: white;
  background-color: #4fa2fb;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

#save-button:hover {
  background-color: #16518c;
}